./**/coverage
./**/dist
./**/node_modules
./**/.DS_Store
./**/.next
./**/README.md
.git
.gitignore
./**/playwright
./**/*.spec.*
./**/*.test.*
.prettier*
.env*
.github
.nvmrc
Makefile
docker*
eslint*
jest*
lerna.json
sonar-project.properties
development
./**/jest*
packages/docs/.docusaurus