**/coverage/
**/dist
**/node_modules/
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/.next/
**/tsconfig.tsbuildinfo
.env.local
.eslintcache
tools/designs/build
tools/designs/examples
jest-matrix.json
.vscode/

# Yarn Berry
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.pnp.cjs
.pnp.loader.mjs
